body{
<<<<<<< HEAD
    color: #000;
=======
>>>>>>> cabecera
    text-align: center;
    font-family: "curier";
}
#cabecera
{
    background: #3333aa;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.0em;
}

#container h1{
    fwidth: 70%;
    padding: 1em;
    text-align: left;
    border: 1 px solid #DDD;
    margin: 0 auto;
}